<div class="card">
  <% @rooms.each do |room| %>
    <%= room.name %> | <%= room.price_per_night %> | <%= room.headline %>
    <br>
    <span>The room has <%= room.room_images.count %> images</span>  
    <% room.room_images.each do |rmi| %>
      <% if !rmi.image_url.empty? %>
        <img src="<%= rmi.image_url %>" class="d-block" alt="..." width="250px" height="200px">
      <% end %>
    <% end %>
    <br>
    <%= link_to "Destroy this room", room, class: "btn btn-danger", method: :delete, data: {method: :delete, turbo_confirm: "Are you sure to delete #{room.name}?"} %>
    <%= button_to 'Remove', room_path(room.id), method: :delete, data: {confirm: "Are You Sure you want to delete this Listing?"}, class: "btn btn-outline-custom"%>
    <%= form_with url: room_path(room.id), method: :post, data: { turbo_confirm: "Are you sure you want to delete this #{room.name}? This action cannot be undone." } do |f| %>
      <%= link_to "Delete form button", room, class: "btn btn-danger", method: :delete, data: {method: :delete, turbo_confirm: "Are you sure to delete #{room.name}?"} %>
    <% end %>

    <%= link_to 'Sign Out', room_path(room.id), data: {turbo_method: :delete} %>
    <%= link_to 'Sign Out', room_path(room.id),
    data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
    <%= button_to 'Sign Out', room_path(room.id), method: :delete,
    form: {data: {turbo_confirm: 'Are you sure?'}} %>
  <% end %>
</div>