<div class="row">
  <%= render partial: "/layouts/side_bar"%>

  <div class="col-8 justify-content-center">
    <div class="text-center">
      <% if current_user.admin? %>
        <h2 class="text-center p-5">Inquiries Received</h2>
      <% else %>
        <h2 class="text-center p-5">History of Submissions</h2>
      <% end %>
      <table class="table">
        <thead>
          <% if @inquiries.exists? == false || @inquiries.empty? %>
            No Inquiries made yet <span><%= link_to "Create new", new_inquiry_path(), class: " mx-2"%></span>
          <% else %> 
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Message</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @inquiries.each do |inquiry|%>
              <tr>
                <th scope="row"><%= inquiry.id %></th>
                <td><%= inquiry.user_name.capitalize %></td>
                <td><%= inquiry.email.capitalize %></td>
                <td><%= inquiry.words.truncate(40) %></td>
                <td><%= button_to 'Remove', inquiry_path(inquiry.id), method: :delete, data: {confirm: "Are You Sure you want to delete this inquiry?"}, class: "btn btn-outline-custom"%></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>    
  </div>
</div>